<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Phase2_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>product_id.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>display</display-name>
    <servlet-name>display</servlet-name>
    <servlet-class>core.programs.jdbc.display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>core.programs.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetData</display-name>
    <servlet-name>GetData</servlet-name>
    <servlet-class>core.programs.GetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetData</servlet-name>
    <url-pattern>/GetData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbConnection</display-name>
    <servlet-name>DbConnection</servlet-name>
    <servlet-class>core.programs.DbConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbConnection</servlet-name>
    <url-pattern>/DbConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>product</servlet-name>
    <servlet-class>core.programs.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>product</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetriveProduct</display-name>
    <servlet-name>RetriveProduct</servlet-name>
    <servlet-class>core.programs.RetriveProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetriveProduct</servlet-name>
    <url-pattern>/retrive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>core.programs.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/productservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddedPromp</display-name>
    <servlet-name>AddedPromp</servlet-name>
    <servlet-class>core.programs.AddedPromp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddedPromp</servlet-name>
    <url-pattern>/AddedPromp</url-pattern>
  </servlet-mapping>
  <servlet>
		<description>
			</description>
		<display-name>Error</display-name>
		<servlet-name>Error</servlet-name>
		<servlet-class>core.programs.Error</servlet-class>
	</servlet>
  <servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/productservlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/addProduct</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Error</servlet-name>
		<url-pattern>/Error</url-pattern>
	</servlet-mapping>
</web-app>
</element>